__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
venv/

data/raw/osm/*.osm.pbf
*.osm.pbf
data/raw/official/*
data/processed/*
outputs/figures/*
outputs/maps/*
outputs/tables/*

!data/raw/official/.gitkeep
!data/raw/osm/.gitkeep
!data/processed/.gitkeep
!outputs/figures/.gitkeep
!outputs/maps/.gitkeep
!outputs/tables/.gitkeep
